* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    /* overflow-y: hidden; */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 92%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 91%;
    }
}


._form-elem {
    cursor: pointer;
    outline: none;
    border: 0;
}

    /* Main page of the cite. First. */

.header {
    width: 100%;
    background: linear-gradient(to right, #0c1b33, #0c1a34, #0c1931, #0d1522, #0f1013, #0f0f11);
}

.header__container {
    padding: 52px 0 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger-menu {
    display: none;
}

.header__menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__menu > .header__stock {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

.header__menu-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color:  #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

.header__sub-menu {
    display: flex;
    gap: 4px;
    align-items: flex-end;
}

.header__sub-menu > button {
    background-color:  #0c1931;
}

.header__control-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__control-buttons > button {
    background-color: #0f0f11;
    padding: 0;
}

.header__control-buttons > a {
    cursor: pointer;
}

.header__control-button_active:hover {
    display: none;
}

.header__control-button_active:nth-child(1) {
    margin-right: -64px;
}

.header__control-button_active:nth-child(3) {
    margin-right: -40px;
}

.header__control-button_active:nth-child(5) {
    margin-right: -40px;
}

.header__control-button_active {
    z-index: 10;
}

.header__control-button_hover:hover {
    display: block;
}

.overlay {
    position: fixed;
    overflow-y: scroll; 
    background: rgba(0, 0, 0, 0.9);
    min-width: 100vw;
    height: 100%;
}

._visible {
    display: block;
}

.overlay_menu-phone {
    display: none;
}

.overlay__menu-tablets {
    display: none;  
    padding: 68px 74px 78px 20px;
    display: flex;
    justify-content: space-between;
}

.overlay__container-stock {
    padding: 16px 21px;
    border: 1px solid #B70000;
    background-color: #B70000;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.overlay__container-stock > span {
    color: #0F0F11;
    font-size: 60px;
    line-height: 50px;
    font-weight: 500;
}

.overlay__container-stock > .overlay__link-stock {
    display: flex;
    gap: 3px;
    align-items: center;
}

.overlay__link-stock > a {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.overlay__menu-option {
    display: flex;
    gap: 21px;
    flex-direction: column;
}

.overlay__menu-option > span {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    color: #999999;
    display: inline-block;
    margin-left: 105px;
    text-transform: uppercase;
}

.overlay__menu-list {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.overlay__menu-elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 16px;
}

.overlay__menu-elements_grid-column {
    grid-template-columns: repeat(1, 1fr);
}

.overlay__menu-element {
    display: flex;
    gap: 38px;
    align-items: center;
}

.overlay__menu-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    color: #FFFFFF;
    cursor: pointer;
}


@media (min-width: 1200px) and (max-width: 1500px) {
    .header__menu {
        gap: 30px;
    }

    .header__control-buttons {
        gap: 25px;
    }

    .header__control-button_active:nth-child(1) {
        margin-right: -49px;
    }
    
    .header__control-button_active:nth-child(3) {
        margin-right: -25px;
    }
    
    .header__control-button_active:nth-child(5) {
        margin-right: -25px;
    }


}

@media (min-width: 1024px) and (max-width: 1200px) {
    .header__container {
        padding: 52px 0 39px;
    }
        
    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .header__burger-menu > button {
        background-color: #0c1931;
    }

    .header__burger-menu > span {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        color:  #FFFFFF;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header__container {
        padding: 52px 0 39px;
    }
    
    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: flex;
        align-items: center;
        width: 40%;
    }

    .header__burger-menu > button {
        background-color: #0c1931;
    }

    .header__burger-menu > span {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        color:  #FFFFFF;
        text-transform: uppercase;
    }

    .overlay__menu-tablets {
        padding: 41px 20px 171px;
        flex-direction: column;
        gap: 39px;
    }

    .overlay__container-stock {
        padding: 20px 17px 17px 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .overlay__menu-option {
        gap: 18px;
    }

}

@media (max-width: 768px) {
    .header__container {
        padding: 25px 0 29px;
    }

    .header__logo > svg {
        width: 88px;
        height: 16px;
    }

    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: block;
    }

    .header__burger-menu > span {
        display: none;
    }

    .header__burger-menu > button {
        background-color: #0c1931;
    }

    .header__control-buttons {
        gap: 36px;
    }

    .header__control-buttons > button {
        display: none;
    }

    .header__control-button_active:nth-child(3) {
        margin-right: -36px;
    }
    
    .header__control-button_active:nth-child(5) {
        margin-right: -36px;
    }
}









