* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 92%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 91%;
    }
}


._form-elem {
    cursor: pointer;
    outline: none;
    border: 0;
}

    /* Main page of the cite. First. */

.header {
    width: 100%;
    background: linear-gradient(to right, #0c1b33, #0c1a34, #0c1931, #0d1522, #0f1013, #0f0f11);
}

.header__container {
    padding: 52px 0 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger-menu {
    display: none;
}

.header__menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__menu > .header__stock {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

.header__menu-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color:  #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

.header__sub-menu {
    display: flex;
    gap: 4px;
    align-items: flex-end;
}

.header__sub-menu > button {
    background-color:  #0c1931;
}

.header__control-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__control-buttons > button {
    background-color: #0f0f11;
    padding: 0;
}

.header__control-buttons > a {
    cursor: pointer;
}

.header__control-button_active:hover {
    display: none;
}

.header__control-button_active:nth-child(1) {
    margin-right: -64px;
}

.header__control-button_active:nth-child(3) {
    margin-right: -40px;
}

.header__control-button_active:nth-child(5) {
    margin-right: -40px;
}

.header__control-button_active {
    z-index: 10;
}


.header__control-button_hover:hover {
    display: block;
}


@media (min-width: 1200px) and (max-width: 1500px) {
    .header__menu {
        gap: 30px;
    }

    .header__control-buttons {
        gap: 25px;
    }

    .header__control-button_active:nth-child(1) {
        margin-right: -49px;
    }
    
    .header__control-button_active:nth-child(3) {
        margin-right: -25px;
    }
    
    .header__control-button_active:nth-child(5) {
        margin-right: -25px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .header__container {
        padding: 52px 0 39px;
    }
        
    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .header__burger-menu > button {
        background-color: #0c1931;
    }

    .header__burger-menu > span {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        color:  #FFFFFF;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header__container {
        padding: 52px 0 39px;
    }
    
    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: flex;
        align-items: center;
        width: 40%;
    }

    .header__burger-menu > button {
        background-color: #0c1931;
    }

    .header__burger-menu > span {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        color:  #FFFFFF;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding: 25px 0 29px;
    }

    .header__logo > svg {
        width: 88px;
        height: 16px;
    }

    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: block;
    }

    .header__burger-menu > span {
        display: none;
    }

    .header__burger-menu > button {
        background-color: #0c1931;
    }

    .header__control-buttons {
        gap: 36px;
    }

    .header__control-buttons > button {
        display: none;
    }

    .header__control-button_active:nth-child(3) {
        margin-right: -36px;
    }
    
    .header__control-button_active:nth-child(5) {
        margin-right: -36px;
    }
}









