* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.container {
    width: 1499.97px;
    margin: 0 auto;
}

